FLASK_SECRET_KEY=
APP_SESSION_SECRET=
INITIAL_ADMIN_SETUP_TOKEN=
SUNNYVIBE_SUPER_ADMIN_IDENTIFIER=
SUNNYVIBE_SUPER_ADMIN_DISPLAY_NAME=
SUNNYVIBE_SUPER_ADMIN_USER_EMAIL=
SUNNYVIBE_SUPER_ADMIN_USER_FULL_NAME=
SUNNYVIBE_SUPER_ADMIN_BOOTSTRAP_SALT=
SUNNYVIBE_SUPER_ADMIN_BOOTSTRAP_HASH=
SUNNYVIBE_SUPER_ADMIN_RECOVERY_SIGNATURE_KEY=
